<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.revature.project1.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>com.revature.project1.welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>com.revature.project1.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newticket</servlet-name>
        <servlet-class>com.revature.project1.newticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ITlogin</servlet-name>
        <servlet-class>com.revature.project1.ITlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ITscreen</servlet-name>
        <servlet-class>com.revature.project1.ITscreen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modticket</servlet-name>
        <servlet-class>com.revature.project1.modticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addnotes</servlet-name>
        <servlet-class>com.revature.project1.Addnotes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Closeticket</servlet-name>
        <servlet-class>com.revature.project1.Closeticket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newticket</servlet-name>
        <url-pattern>/newticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ITlogin</servlet-name>
        <url-pattern>/ITlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ITscreen</servlet-name>
        <url-pattern>/ITscreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modticket</servlet-name>
        <url-pattern>/modticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addnotes</servlet-name>
        <url-pattern>/Addnotes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Closeticket</servlet-name>
        <url-pattern>/Closeticket</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
